body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.exam-container {
    width: 700px;
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

.exam-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.question-box {
    margin-bottom: 20px;
}

#options div {
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#nextBtn {
    background: #6c5ce7;
    color: white;
}

#submitBtn {
    background: #d63031;
    color: white;
}
.exam-container {
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
}

.question-block {
    margin-bottom: 20px;
}
